.body {
  align-items: flex-start;
}
.main-panel {
  background-color:rgb(245, 240, 231);
  display: flex;
  flex-direction: column;
  bottom: 0px;
  right: 0px;
  margin-top: 0px;
  height: 100vh;
  padding-top: 170px;
}

.profile,.experience {
  display: flex;
  background-color:rgb(216, 230, 230);
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 15px;
  box-shadow: 0px 1px 50px rgba(0, 0, 0, 0.2);
  z-index: 90;
}

.profile-head,.profile-para,.experience-para,.experience-head{
  margin: 20px 20px 20px 20px;
}

.profile-head,.experience-head {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
  margin-bottom: 25px;
}

.profile-para,.experience-para {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.experience-para {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.para {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;

  width: 1000px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.layout {
    display: flex;
    flex-direction: row;
}

.main-panel {
  transition: z-index 0.3s ease;
}

.main-panel {
  transition: z-index 0.2s;
}
